#header{
height: 75px;
width: 100%;
background-color:#254779;
position:fixed;
border-radius:10px;
	
}
#rightBar{
margin-top:75px;
height: 1200px;
width: 300px;
background-color: #f5f5f5;
float:right;

	
}
#footer{
height: 75px;
width: 100%;
background-color: #254779;
clear:both;
border-radius:10px;
display:inline-block;
	
}
ul{

	display:inline;
	text-align: center;
	font-family:Verdana;
	color:grey;
	float:left;

	
}
#headerLinks{
	float:left;
	clear:both;

}
#logo{
	font-family:verdana;
	font-weight: bold;
	color:white;
	font-size:30px;
	float:left;
	padding-left: 5px;
}
li{
	display:inline-block;
	margin-top:200px;
	padding:20px;
	float:left;

}

#info{
	position:absolute;
	margin-top:75px;
	height:100px;
	width:100%;
	background-color:#f5f5f5;

}
#contact{
	font-family:cursive;
	font-size:20px;
	color:black;
	float:right;
	padding-right:20px;
}
#catchPhrase
{
	font-family:cursive;
	font-size:30px;
	color:black;
	float:left;
}
#facebook{
	padding-top: 10px;
	padding-left:5px;
	display:inline-block;
}
#yelp{
	padding-top: 10px;
	padding-left:5px;
	display:inline-block;
	
}